
<!DOCTYPE html>
<html lang = "pt-br">
    <head>

        {%load static %}
        <meta charset = "UTF- 8">
        <title>{{ tarefa.titulo}}</title>
        <link rel="stylesheet"href = "{% static 'detalhe/detalhe.css' %}">
    </head>
    <body>

        <h1>{{ tarefa.titulo}}</h1>
        <p><strong>descrição: </strong>{{ tarefa.descricao|linebreaks}}</p>
        <p><strong>Status:</strong>{% if tarefa.concluida %} concluído{% else%} pendente{% endif %}</p>
        <small>Criada em : {{tarefa.data_criacao}}</small>

        <hr>
        <a href="{% url 'alterar_tarefa' tarefa.id %}">Alterar Tarefa</a>|
        <a href="{% url 'lista_tarefas' %}">Voltar para Listar</a>
        <a href="{% url 'excluir_tarefa' tarefa.id %}">Excluir Tarefa</a>
        
    </body>
</html>