<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Tarefa</title>
    <link rel="stylesheet" href="{% static 'form/form.css' %}">
</head>
<body>
    <h1>Adicionar Nova Tarefa</h1>
    <form method="POST">
        <!---- csrf_token serve para proteger o sistema de ataques np envio do formulário-->
        {%csrf_token%} <label for="titulo">Título:</label><br>
        <input type="text" id="titulo" name ="titulo" required><br><br>

        <label for="descricao">descrição:</label><br>
        <textarea id="descricao" name="descricao" rows="4" cols="50"></textarea><br><br>

        <button type="submit">Salvar Tarefa</button>
    </form>
    <a href="{% url 'listar_tarefas' %}">Cancelar</a>
</body>
</html>