/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Fundo suave */
body {
    background: #f4f6f9;
    color: #333;
    padding: 40px;
    line-height: 1.6;
}

/* Título principal */
h1 {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

/* Parágrafos */
p {
    margin: 12px 0;
    font-size: 1rem;
}

/* Destaque no título do campo */
strong {
    color: #344
}