<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <title>minha lista de projetos</title>
    <link rel="stylesheet" href="{% static 'lista/lista.css' %}">
</head>
<body>
    <h1>Gerenciador de Projetos Web</h1>

    <hr>
    {% for projeto in meus_projetos %}
            <h2><a href=>{{ projeto.nome}}</a></h2>
            <p>{{projeto.descricao}}</p>
            <small>Criada em : {{ projeto.data_criacao }}</small>
        </div>
    {% empty %}
        <p>Nenhum projeto cadastrada ainda. Adicione algumas no <a href="/admin">Admin</a>!</p>
    {% endfor%}
</body>
</html>